.main {
    min-height: 100vh;
    height: 100%;
}
.head{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 380;
}
.footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 380;
}
body {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
}
:root {
    --main-background-color: #f2f2f2;
    --dark-background-color: #a2a2a2;
    --secondary-text-color: #808080;
    --light-primary-text-color: #0080ff;
}
