<section id="header">
    <nav id="global-nav" class="navbar navbar-expand-lg fixed-top">
      <div class="container">
        <div class="collapse navbar-collapse">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="/software">Software</a></li>
            <li><a href="/gear">Gear</a></li>
            
          </ul>
          <div class="d-flex flex-row-reverse flex-grow-1">
                <ul>
                  <li>
                      <a href="/contact">Contact</a>
                  </li>
                </ul>
            </div>
        </div>
      </nav>
    </nav>
</section>