<header class="s-nav">
    <nav class="c-nav">
        <ul class="c-nav-list c-nav-list--info o-flexy o-flexy--top">
            <li class="c-nav-list__item o-flexy__item">
                <a class="c-nav-list__link" href="/">Mikel</a>
            </li>
            <li class="c-nav-list__item o-flexy__item c-nav-list__item--gear">
                <a class="c-nav-list__link" href="/gear">Gear</a>
            </li>
            <li class="c-nav-list__item o-flexy__item">
                <a href="/software" class="c-nav-list__link">Software</a>
            </li>
            <li class="c-nav-list__item o-flexy__item">
                <a href="/contact" class="c-nav-list__link">contact</a>
            </li>
        </ul>
    </nav>
</header>