<div class="d-flex p-3 px-md-4 mb-4 bg-transparent border-bottom shadow-sm">
    <!-- MEDIUM+ screens -->
    <!-- col1 -->
    <div class="d-none d-md-flex flex-row my-auto flex-grow-1 align-items-center">
        <h4>
            <a class="p-3 text-black" href="/">Mikel Galdos</a>
        </h4>
        <h5>
            <a class="p-2 text-black" href="#/software">Software</a>
        </h5>
        <h5>
            <a class="p-2 text-black" href="#/gear">Gear</a>
        </h5>
    </div>
    <!-- Small- screens -->
    <div class="d-flex d-md-none flex-column my-auto align-items-center">
        <!-- row1 -->
        <h5 class="font-weight-normal">
            <a class="p-2 text-black" href="/">Mikel Glados</a>
        </h5>
    </div>
</div>