{% extends 'base.html' %}

{% block content %}
    <section class="intro">
        <div class="nav">
            <h1>Mikel Galdos</h1>
            <h3>
                "Self-taught software developer through research & development."
            </h3>
        </div>
    </section>
    <section id="about">
        <div class="content-wrapper">
            <h1>About me</h1>
            <p>I've always sought out opportunities and challenges that are meaningful to me. I've never stopped engaging my passion to 
                help others and solve problems. As a Software developer, I enjoy using my obsessive attention to detail, my unequivocal love for making things, and my
                mission-driven work ethic to literally change the world. That's why I'm excited to make big impact at a high growth company.
            </p>
        </div>
    </section>
{% endblock %}