{% extends 'base.html' %}

{% block content %}
    <section class="intro">
        <div class="nav">
            <h1>Mikel Galdos</h1>
            <h5>
                "Self-taught software developer through research & development."
            </h5>
        </div>
    </section>
    <section id="about" class="aboutsection">
        <div class="content-wrapper">
            <h1>About me</h1>
            <p>I've always sought out opportunities and challenges that are meaningful to me. I've never stopped engaging my passion to 
                help others and solve problems. As a Software developer, I enjoy using my obsessive attention to detail, my unequivocal love for making things, and my
                mission-driven work ethic to literally change the world. That's why I'm excited to make big impact at a high growth company.
            </p>
        </div>
    </section>
    <section id="popular">
        <div class="popular">
            <h4>Popular projects</h4>
            <div>
                <div>
                    <table class="table">
                        <thead >
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Language</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="https://github.com/MikelGV/chatMe" class="plainLink" target="_blank">chatMe</a>
                                </td>
                                <td>
                                    Chat Application build in django and django-channels as websocket
                                </td>
                                <td>Python</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://github.com/MikelGV/SudokuSolver" class="plainLink" target="_blank">SudokuSolver</a>
                                </td>
                                <td>Sudoku game using pygame and using backtracking algorithm to solve the sudoku</td>
                                <td>Python</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}