.about{
    display: flex;
}

.aboutWrapper {
    margin-top: 100px;
    width: 100%;
    height: 900px;
    padding: 1em 10%;
}

.aboutTitle {
    top: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutImg {
    width: 250px;
    height: 250px;
    background: url('/public/assets/Pic/Mikel.jpg');
    background-size: 100%;
    object-fit:fill;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 250px;
}

.aboutText {
    position:absolute;
    top: 550px;
    left: 5px;
    right: 5px;
    align-items: center;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight:500;
}